* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: monospace;
    background: #bfc3b1;
}

.app-shell {
    max-width: 420px;
    height: 100vh;
    margin: auto;
    display: flex;
}

.screen {
    display: none;
    width: 100%;
}

.screen.active {
    display: flex;
    flex-direction: column;
}

.menu-card {
    margin: auto;
    background: #d6d9c5;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

button {
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background: #5a3a8a;
    color: white;
    font-weight: bold;
}

.game-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.top-row {
    display: flex;
    gap: 5px;
}

.stat-box {
    flex: 1;
    background: #d6d9c5;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.next-mini-box {
    width: 90px;
    background: #d6d9c5;
    text-align: center;
    border-radius: 10px;
}

#nextPiece {
    background: #b7d33a;
}

.board-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    height: 55vh;
    aspect-ratio: 1/2;
    border: 5px solid #2f3e1b;
    border-radius: 10px;
    background:
        linear-gradient(rgba(20,50,20,0.12) 1px, transparent 1px),
        linear-gradient(90deg, rgba(20,50,20,0.12) 1px, transparent 1px),
        #b7d33a;
}

.mobile-controls {
    display: flex;
    justify-content: space-between;
}

.game-over {
    position: absolute;
    color: purple;
    font-size: 30px;
}

.hidden { display: none; }
